<div class="center">
    <a class="button" href="{{ site.url }}" onclick="_gaq.push(['_trackEvent', 'ToBlog', 'InNav', window.location.pathname]);">Blog</a>
    <a class="button" href="http://zhangweixiang.com/cv" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToCv', 'InNav', window.location.pathname]);">CV</a>
    <!-- <a class="button" href="http://zhangweixiang.com" onclick="_gaq.push(['_trackEvent', 'ToHome', 'InNav', window.location.pathname]);">About Me</a> -->
    <!--a class="button" href="http://zhangweixiang.com/#projects" onclick="_gaq.push(['_trackEvent', 'ToProject', 'InNav', window.location.pathname]);">Projects</a-->
    <a class="button" href="mailto:zwxscience@163.com" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToEmail', 'InNav', window.location.pathname]);">Email Me</a>
    <a class="button" href="{{ site.url }}/meta" target="_blank" onclick="_gaq.push(['_trackEvent', 'ToSiteMap', 'InNav', window.location.pathname]);">Site Map</a>
</div>

<img class="post-img" src="{{ site.url }}/img/weixiangzhang.jpg" />

<p><strong>此章微详</strong>，此<strong> zhang weixiang </strong>也。<a href="{{ site.url }}/2016/01/25/website-name/" onclick="_gaq.push(['_trackEvent', 'ToPost', 'InRecent', 'AboutMe']);">（寻来历）</a><p>
<p><strong>好读书，不求甚解。 每有会意，便欣然忘食。</strong>以前为码农，现为一<strong>通信小兵</strong>。</p>
<p>大家可以添加我的微信，共同讨论技术问题。扫二维码添加。</p>

<p>I'm <em>Xavier</em> and this blog is concerned about <em>Image Process </em> and <em> Programming</em>, my book reviews and other interesting topics. Please feel free to <a href="#comments">leave a comment</a> or contact me by <a href="mailto:zwxscience@163.com?subject=Interested+In+Your+Blog+Posts" target="_blank">email</a> if you have any question.</p>

{% include license.html %}

<p class="center"><a class="button" href="{{ site.url }}/tip" onclick="_gaq.push(['_trackEvent', 'ToTip', 'InAboutMe', window.location.pathname]);">送 weixiang 一本书，让他写出更棒的文章！</a></p>
