{% if page.tags[0] == '中文' %}
<h1>评论</h1>
{% else %}
<h1>Comments</h1>
{% endif %}

{% if page.no_comment == null %}
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2147331"></script>
{% else %}
{% if page.tags[0] == '中文' %}
<p>本页不允许评论，如需讨论，可以<a href="mailto:zwxscience@163.com?subject=comments on {{ page.title }}">给我发邮件</a>。</p>
{% else %}
<p>Comments are disabled in this page. You may <a href="mailto:zwxscience@163.com?subject=comments on {{ page.title }}">email me</a> for private discussion.</p>
{% endif %}
{% endif %}
