            <div id="footer-nav">
                | <a href="#">Top</a> | 
                <a href="{{ site.url }}">Blog</a> | 
                <a href="http://zhangweixiang.com">About Me</a> |
                <a href="mailto:zwxscience@163.com" target="_blank">Email</a> |
                <a href="{{ site.url }}/feed.xml">RSS</a> | 
                <a href="{{ site.url }}/meta">More</a> |
            </div>
            
            <div id="footer-follow">
                <a class="footer-follow-element footer-follow-github" href="https://github.com/zwxscience" target="_blank" title="Follow me on GitHub" onclick="_gaq.push(['_trackEvent', 'Follow', 'GitHub', 'Footer']);"></a>
                <a class="footer-follow-element footer-follow-linkedin" href="http://www.linkedin.com/in/zhang-weixiang-5b226791" target="_blank" title="Follow me on LinkedIn" onclick="_gaq.push(['_trackEvent', 'Follow', 'LinkedIn', 'Footer']);"></a>
                <a class="footer-follow-element footer-follow-weibo" href="http://weibo.com/weixiazh" target="_blank" title="Follow me on Sina Weibo" onclick="_gaq.push(['_trackEvent', 'Follow', 'Weibo', 'Footer']);"></a>
                <a class="footer-follow-element footer-follow-douban" href="http://www.douban.com/people/48750803/" target="_blank" title="Follow me on Douban" onclick="_gaq.push(['_trackEvent', 'Follow', 'Douban', 'Footer']);"></a>
                <a class="footer-follow-element" style="background-image:url(http://zhangweixiang.com/cv/img/tencent_weixin_32px.png)"  href="http://zhangweixiang.com/cv/img/weixiangzhang.jpg" target="_blank" title="Follow me on Weixin"></a>
               
			
			</div>
        </div>
        
        <div id="footerDiv">
            <div id="footerImg"></div>
            <div id="footerCnt">
                <div id="footer">
                </div>
            </div>
        </div>

        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
            
        <script type="text/javascript" src="{{ site.url }}/js/lazyLoad.js"></script>
        <script type="text/javascript" src="{{ site.url }}/js/common.min.js"></script>
    </body>
</html>
